<div class="d-flex flex-column align-items-start">
    <h1 class="text-light">Add Stop</h1>
    <h2>Stop Name</h2>
    <input type="text" id="new-stop-name" data-location="{{location_id}}">
    <button type="button" id="add-stop-btn" class="btn btn-light mt-2">Submit</button>
</div>