<h1>Select a City</h1>
<div class="list-group" id="locations-list" style="width:60%;">
    {{#each locations as |location|}}
    <button type="button" class="list-group-item list-group-item-action" data-id="{{location.id}}">{{location.name}}</button>
    {{/each}}
</div>