<div class="d-flex flex-row flex-wrap justify-content-center align-items center">
    <div id="login-cont" class="d-flex flex-column align-items-start p-3 m-1">
        <h1 class="text-light">Login</h1>
        <h2>Username</h2>
        <input type="text" id="log-username">
        <h2>Password</h2>
        <input type="text" id="log-password" class="mb-1">
        <button type="button" id="log-btn" class="btn btn-light mt-2">Submit</button>
    </div>
    <div id="sighup-container" class="d-flex flex-column align-items-start p-3 m-1">
        <h1 class="text-light">SignUp</h1>
        <h2>Username</h2>
        <input type="text" id="sign-username">
        <h2>Password</h2>
        <input type="text" id="sign-password">
        <h2>Location</h2>
        <select class="form-select mb-1" id="inputGroupSelect01">
            <option selected>Choose Location...</option>
            {{#each locations as |location|}}
            <option value="{{location.id}}">{{location.name}}</option>
            {{/each}}
        </select>
        <button type="button" class="btn btn-light mt-2" id="log-btn">Submit</button>
    </div>
</div>