<div class="d-flex flex-column align-items-center">
<h1 class="text-light">{{ route.name }}</h1>
<h2>Out Bound</h2>
<table class="table bg-light m-1">
    <thead>
        <tr>
           <th scope="col">
            Sequence
           </th> 
           <th scope="col">
            Stop Names
           </th>
        </tr>
    </thead>
    <tbody>
        {{#each route.stops as |stop|}}
        <tr>
            <th scope="row">{{stop.routestop.sequence}}</th>
            <td>
                <button type="button" class="btn btn-secondary stop-btn" data-id="{{stop.id}}">{{stop.name}}</button>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>

</div>