body {
  background-image: url("/images/city-background.jpeg");
  width: 100vw;
  height: 100vh;
}

#nav-bar{
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

.n-links{
  text-decoration: none;
  color: black;
  font-size: 25px;
}